* {
  margin: 0;
  padding: 0;
  /* border: solid 1px gray; */
}

body {
  background-image: url(../images/ui/background.jpg);
  background-attachment: fixed;
  height: 100vh;
}

header {
  background-color: rgba(250, 252, 253, 0.274);
}

.nav li,
.nav li:hover {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.w-100 {
  width: 75vw !important;
  height: 50vh;
}